## Bibliotecas

In [23]:
import pandas as pd
import joblib

from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import GridSearchCV, cross_val_score, train_test_split
from sklearn.svm import SVR

In [24]:
CSV_FILE = 'EDA/df_standardized.csv'

df = pd.read_csv(CSV_FILE)
display(df.head())

,es_numerosa,educacion_madre,educacion_padre,tiempo_viaje,tiempo_estudio,consumo_alcohol_entre_semana,consumo_alcohol_fin_de_semana,suspensos,faltas,nota1,nota2,nota3,educacion_media,notas_media
0,-1.732051,1.203379,0.488564,-0.722456,1.485568,-0.544852,-0.967245,0.0,-0.875992,0.738930,0.627412,0.404583,0.938424,0.612183
1,0.577350,-0.551188,-0.428247,0.846306,1.485568,-0.544852,-0.967245,0.0,0.860002,0.738930,0.627412,0.810502,-0.539715,0.753600
2,0.577350,1.203379,-0.428247,0.846306,0.100253,-0.544852,-0.967245,0.0,2.248797,-0.481911,-1.027540,-1.219091,0.445711,-0.943395
3,0.577350,-0.551188,-1.345059,0.846306,0.100253,-0.544852,-0.107472,0.0,-0.181594,-0.074964,-0.200064,0.810502,-1.032428,0.187935
4,-1.732051,-1.428472,-0.428247,0.846306,-1.285061,-0.544852,1.612075,0.0,-0.875992,0.738930,0.627412,0.810502,-1.032428,0.753600

In [25]:
#n² 94%

df = df.drop(
    columns = [
        'educacion_padre', 'educacion_madre',
        'nota1', 'nota2'
    ]
)

df

,es_numerosa,tiempo_viaje,tiempo_estudio,consumo_alcohol_entre_semana,consumo_alcohol_fin_de_semana,suspensos,faltas,nota3,educacion_media,notas_media
0,-1.732051,-0.722456,1.485568,-0.544852,-0.967245,0.0,-0.875992,0.404583,0.938424,0.612183
1,0.577350,0.846306,1.485568,-0.544852,-0.967245,0.0,0.860002,0.810502,-0.539715,0.753600
2,0.577350,0.846306,0.100253,-0.544852,-0.967245,0.0,2.248797,-1.219091,0.445711,-0.943395
3,0.577350,0.846306,0.100253,-0.544852,-0.107472,0.0,-0.181594,0.810502,-1.032428,0.187935
4,-1.732051,0.846306,-1.285061,-0.544852,1.612075,0.0,-0.875992,0.810502,-1.032428,0.753600
...,...,...,...,...,...,...,...,...,...,...
299,0.577350,-0.722456,1.485568,-0.544852,-0.967245,0.0,0.512803,0.404583,0.445711,0.470767
300,0.577350,0.846306,1.485568,-0.544852,-0.967245,0.0,1.207201,1.622339,1.431137,1.602097
301,0.577350,0.846306,1.485568,1.275312,-0.107472,0.0,0.512803,0.404583,-0.047002,0.470767
302,0.577350,0.846306,0.100253,-0.544852,-0.967245,0.0,-0.875992,-0.813173,0.938424,-1.650476
303,0.577350,2.415068,0.100253,1.275312,1.612075,0.0,-0.181594,-1.219091,0.938424,-1.226227

In [26]:
# n² 94%

# df = df.drop(
#     columns = [
#         'educacion_padre', 'educacion_madre',
#         'nota1', 'nota2', 'es_numerosa'
#     ]
# )

# df

In [27]:
# n² 91

# df = df.drop(
#     columns = [
#         'educacion_padre', 'educacion_madre',
#         'nota1', 'nota2', 'tiempo_estudio'
#     ]
# )

# df

In [28]:
# 90%

# df = df.drop(
#     columns = [
#         'educacion_padre', 'educacion_madre',
#         'nota1', 'nota2'
#     ]
# )

# df

In [29]:
# 92,9%

# df = df.drop(
#     columns = [
#         'educacion_padre', 'educacion_madre',
#         'nota1', 'nota2', 'consumo_alcohol_entre_semana'
#     ]
# )

# df

In [30]:
# # n² 85%

# df = df.drop(
#     columns = [
#         'educacion_media',
#         'nota1', 'nota2',
#     ]
# )

# df

In [31]:
# n² 85%

# df = df.drop(
#     columns = [
#         'educacion_media',
#         'nota1', 'nota2',
#     ]
# )

# df

In [32]:
# #n² 10%

# df = df.drop(
#     columns = [
#         'educacion_media',
#         'nota1', 'nota2', 'nota3'
#     ]
# )

# df

## Modelo notas_media
Este primer modelo se va a centrar en explorar la variable `notas_media` ya que su correlacion era mayor que las 3 notas por separado

In [33]:
# Dividir los datos en conjuntos de entrenamiento y prueba
train_df, test_df = train_test_split(
    df,
    test_size=0.15
)

X_train = train_df.drop(columns=['notas_media'])
Y_train = train_df["notas_media"]
X_test = test_df.drop(columns=['notas_media'])
Y_test = test_df["notas_media"]



# display(X_train)
# display(Y_train)
# display(X_test)
# display(X_test)

### Regresión Linear

In [34]:
lr_reg = LinearRegression()

# Validación cruzada
cv_scores = cross_val_score(
    lr_reg,
    X_train, Y_train,
    cv=5, scoring='r2')

lr_reg.fit(X_train, Y_train)
Y_pred = lr_reg.predict(X_test)

# Evaluacion
r2_lr = r2_score(Y_test, Y_pred)
mae_lr = mean_absolute_error(Y_test, Y_pred)
mse_lr = mean_squared_error(Y_test, Y_pred)

In [44]:
print(f'r2_lr = {r2_lr * 100:.2f}%')
print(f'mae_lr = {mae_lr:.3f}')
print(f'mse_lr = {mse_lr:.3f}')

r2_lr = 94.11%
mae_lr = 0.184
mse_lr = 0.054

In [36]:
# Crear y entrenar el modelo
model = GradientBoostingRegressor(n_estimators=100)
model.fit(X_train, Y_train)

# Predecir
Y_pred_gb = model.predict(X_test)

# Evaluación
r2_gb = r2_score(Y_test, Y_pred_gb)
mae_gb = mean_absolute_error(Y_test, Y_pred_gb)
mse_gb = mean_squared_error(Y_test, Y_pred_gb)

# Mostrar las métricas
display(r2_gb)
display(mae_gb)
display(mse_gb)

0.9208377112414571

np.float64(0.20956969509321793)

np.float64(0.07314123495192727)

In [37]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=1.0)
ridge.fit(X_train, Y_train)

Y_pred_ridge = model.predict(X_test)

r2_ridge = r2_score(Y_test, Y_pred_ridge)
mae_ridge = mean_absolute_error(Y_test, Y_pred_ridge)
mse_ridge = mean_squared_error(Y_test, Y_pred_ridge)

display(r2_ridge)
display(mae_ridge)
display(mse_ridge)

0.9208377112414571

np.float64(0.20956969509321793)

np.float64(0.07314123495192727)

In [38]:
from sklearn.linear_model import Lasso

model = Lasso(alpha=0.1)
model.fit(X_train, Y_train)

Y_pred_lasso = model.predict(X_test)

r2_lasso = r2_score(Y_test, Y_pred_lasso)
mae_lasso = mean_absolute_error(Y_test, Y_pred_lasso)
mse_lasso = mean_squared_error(Y_test, Y_pred_lasso)

display(r2_lasso)
display(mae_lasso)
display(mse_lasso)

0.9286311526257305

np.float64(0.20626826359701322)

np.float64(0.06594055977804658)